@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    height: 98%;
}

* {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    font-family: 'Tinos', serif;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #14213D;
    border-radius: 3rem;
}

body {
    background: url('https://apod.nasa.gov/apod/image/2107/ForestWindow_Godward_2236.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 93%;
}

.divH1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding-top: 4%;
}

h1 {
    width: auto;
    height: auto;
    font-size: 7em;
    background-image: url(https://cdn.astrobin.com/thumbs/iQBF43MB5S1a_1824x0_3rOThGH2.jpg);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e5e5e5;
}

.footerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer a {
    width: 10%;
    height: 10%;
}

.footerIcon {
    display: flex;
    width: 100%;
}

.footerIcon:hover {
    background-color: #FCA311;
    border-radius: 50%;
}